/*green #3D9970

font-family: 'Oswald', sans-serif;
font-family: 'Droid Serif', serif;

*/

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  font-family: 'Droid Serif', serif;

}

h2 {
  color: #3D9970;

}

input, textarea {
  outline: none;
}

.lead {
  font-size: 1em;
}


/* CONTACT FORM ***************************************/
.contact-form {
  height: 34em;
  margin-bottom: 0;
  background-color: #0e1717;
}

.contact {
  width: 100%;

}


.contact h2 {
  text-align: center;
  color: #b2d237;
  padding-top: .5em;
}

.contact input[type=text], input[type=email], input[type=tel]{
  background: rgba(255,255,255,.18);
  height: 39px;
  border: 1px solid transparent;
  font-size: 14px;
  width: 100%;
  color: #b2d237;

}

.contact input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, .contact textarea:focus {
  background: rgba(255,255,255,.18);
  border: 1px solid #fff;
}

.contact textarea {
  background: rgba(255,255,255,.18);
  height: 98px;
  border: 1px solid transparent;
  padding: 10px;
  font-size: 14px;
  width: 100%;
  color: #b2d237;
}


.form-group {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.form-group label {
  display: block;
  color: white;
  font-size: .8em;
  font-weight: lighter;
}

.button {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  height: 38px;
  color: #fff;
  min-width: 112px;
  padding: 0 10px;
  display: block;
  letter-spacing: .1em;
  text-transform: uppercase;
  border: 2px solid #b2d237;
  background-color: #0e1717;
  border-radius: 0;
}




/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;

}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;

}

.navbar-inverse  {
  background-color: transparent;
  border-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
  font-size: 1.6em;
  color: white;
}



.jumbotron {
  margin-bottom: 0px;
    background-image: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/grass.jpg");
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    height: 35em;
    margin-bottom: 6em;
    box-shadow: 0 8px 6px -6px black;
}

.jumboh1 {
  text-align: center;
  font-size: 3em;
  margin-top: 1.5em;
  font-family: 'Oswald', sans-serif;
}

.intro {
  text-align: center;
  margin-top: 1.5em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron p {
  font-size: 1.2em;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 40px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 20px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;

}

/* FOOTER **********************************************/
footer {
  background-color: #2f2f35;
  height: 10em;
  width: 100%;
  color: white;
  font-family: 'Droid Serif', serif;
  font-size: .8em;
}

#copyright {
  padding-top: 1em;
}

footer p {
  display: block;
  width: 100%;
  text-align: center;
  padding-top: .5em;
  margin: 0;
}

.icon {
  text-align: center;
  padding-top: .5em;
}

.icon a {
  color: white;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}


@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }

  .carousel-caption {
    margin-bottom: 8em;
  }

  .navbar-nav {
    float:right;
  }

  .dropdown-toggle {
    display: none;
  }

  .contact-form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .contact {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }

  h2 {
    font-size: 1.5em;
  }


}
